# Mac stuff
.DS_Store

# Directories
/node_modules/
/dist/

# Built CSS
style.css
style.css.map
style.min.css

# Images not in raw
/assets/images/*
!/assets/images/raw

# Transpiled JS
/assets/js/custom.js
/assets/js/custom.min.js
/assets/js/vendor.js
/assets/js/vendor.min.js
