/*! 
Theme Name: UW Oshkosh Divi
Theme URI: https://github.com/uwoshkosh/uw-oshkosh-divi
Description: Divi Child Theme
Author: Joseph Kerkhof
Author URI: http://twitter.com/musicaljoeker
Template: Divi
Version: 1.3.3
*/
body{
    min-width:320px;
    font-family:"Open Sans",Arial,sans-serif!important;
    color:#444
}
a{
    color:#0077ad
}
.desaturate{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    filter:grayscale(100%);
    transition:all .6s ease
}
.desaturate:hover{
    filter:grayscale(0)
}
#page-container {
    padding-top: 0 !important;
    margin-top: 0 !important;
}
#top-header, #main-header {
    position: static !important;
}
header{
    z-index:999
}
header #logo{
    max-width:none!important
}
#main-header,#main-header .et_mobile_menu,#main-header .nav li ul,.et-search-form{
    background-color:#fec424
}
#et-secondary-nav li ul,#top-header{
    background-color:#444
}
.et_pb_fullwidth_menu_0.et_pb_fullwidth_menu .nav li ul{
    background-color:#0077ad!important
}
@media only screen and (min-width:981px){
    .et-fixed-header#top-header,.et-fixed-header#top-header #et-secondary-nav li ul{
        background-color:#444
    }
}
.site-title{
    display:inline-block;
    padding-bottom:22px;
    vertical-align:bottom
}
.site-title h1{
    font-family:"Open Sans",Arial,sans-serif!important;
    font-size:33px;
    font-weight:600
}
.image-title-wrapper a{
    display:inline-block
}
#et-top-navigation{
    padding-left:0!important;
    padding-top:0!important;
    position:absolute;
    right:0;
    top:0;
    width:100%
}
#et-top-navigation .mobile_nav .mobile_menu_bar{
    position:absolute;
    right:0
}
#mobile_menu{
    top:100px
}
@media only screen and (max-width:375px){
    header a img{
        max-width:50%!important
    }
}
@media only screen and (min-width:980px){
    header .container{
        min-width:793px
    }
}
@media only screen and (max-width:540px){
    .site-title h1{
        font-size:24px
    }
    header .container{
        white-space:normal
    }
}
#top-header{
    font-size:16px;
    font-weight:600;
    line-height:16px
}
/* made some additions here dude */
.emergency-bumpdown {
    margin-top: 45px;
}
@media screen and (max-width: 782px) {
    .emergency-bumpdown {
      margin-top: 46px;
    }
}

.emergency-banner-wrapper {
    display: none;
    background: #0066CC;
    color: white;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
.emergency-banner-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.broadcast-link {
    color: white;
}
.broadcast-link:hover .broadcast-title, .broadcast-link:hover .broadcast-description {
    text-decoration: underline;
}
.broadcast-title {
    font-weight: 700;
}
.emergency-banner-wrapper i {
    margin-right: 5px;
}
.emergency-banner-wrapper.info {
    background: #0066CC;
}
.emergency-banner-wrapper.warning {
    background: #FF9900;
}
.emergency-banner-wrapper.warning a {
    color: black;
}
.emergency-banner-wrapper.emergency {
    background: #D91E18;
    height: 75px;
}
.emergency-banner-wrapper.emergency + .emergency-bumpdown {
    margin-top: 75px;
}
@media screen and (max-width: 782px) {
    .emergency-banner-wrapper {
      height: 46px;
    }
}

/* Bumping the banner down in case you are logged in. */
.admin-bar .emergency-banner-wrapper {
    top: 32px;
  }
@media screen and (max-width: 782px) {
    .admin-bar .emergency-banner-wrapper {
        top: 46px;
        position: absolute;
    }
}
/* ending additions here dude */

#top-menu-nav{
    float:right!important;
    padding-right:72px;
    padding-top:15px
}
#et_top_search{
    margin-top:16px;
    position:absolute;
    right:30px
}
#et-secondary-menu{
    float:none;
    text-align:center
}
#et-secondary-nav li{
    text-align:left
}
#et-secondary-nav li a{
    padding-top:0;
    padding-left:0;
    padding-right:0
}
.et_nav_text_color_light,.et_nav_text_color_light #et-info a,.et_nav_text_color_light #et-secondary-nav a,.et_nav_text_color_light .et-social-icon a{
    color:#fff
}
#main-header{
    background-image:url(images/main-header-background.png);
    background-repeat:repeat-x;
    padding:5px 0 0
}
#logo{
    margin-bottom:16px;
    margin-left:-18px;
    max-height:100px
}
#et_mobile_nav_menu{
    margin-top:16px
}
.menu-item a{
    height:33px
}
.sub-menu{
    top:33px
}
.mobile-menu-text{
    line-height:normal!important
}
#top-menu li{
    font-weight:600;
    padding-right:8px
}
#top-menu a{
    color:#444!important
}
.display-search{
    opacity:1!important
}
form.gsc-search-box{
    background-color:#fec424!important;
    border-top-color:#2ea3f2;
    border-top-style:solid;
    border-top-width:3px;
    box-shadow:rgba(0,0,0,.0980392) 0 2px 5px 0;
    display:none;
    float:right;
    height:73px;
    margin-top:20px!important;
    max-width:none!important;
    padding:20px;
    top:46px;
    width:320px!important
}
form.gsc-search-box input{
    background-color:#fff;
    height:33px;
    margin-bottom:0;
    margin-top:0;
    padding:10px 20px;
    right:auto;
    top:20px;
    width:280px
}
.gsc-search-button{
    display:none
}
.gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools {
    display: none !important;
}
.gsib_a{
    padding:0!important
}
.mobile_menu_bar::before{
    color:#444
}
.et_mobile_nav_menu .mobile_nav .mobile_menu_bar::before{
    color:#fff
}
@media only screen and (max-width:475px){
    form.gsc-search-box{
        position:absolute;
        right:-52px;
        width:240px!important
    }
    form.gsc-search-box input{
        width:200px
    }
}
@media only screen and (max-width:980px){
    form.gsc-search-box{
        margin-top:40px
    }
}
.et_pb_fullwidth_menu .fullwidth-menu-nav>ul{
    line-height:48px;
    padding:0!important
}
.fullwidth-menu li{
    font-size:16px;
    font-weight:600
}
.fullwidth-menu li>a{
    padding-bottom:0
}
.et_pb_section{
    padding:0!important
}
.et_pb_widget_area{
    border-right:0;
    padding:0
}
.promo-multicolor .widget_text{
    margin:0!important
}
#main-footer{
    background-color:#fff!important
}
#uwo-footer{
    text-align:left;
    background-color:#b0b0b0;
    clear:both;
    color:#444;
    font-size:15px
}
#footer-top{
    background-color:#fec424;
    color:#444;
    text-align:center;
    font-weight:700;
    font-size:16px;
    padding:12px 0
}
#footer-top span{
    padding:0 10px
}
.grid-container{
    width:100%
}
.grid-container *{
    box-sizing:border-box
}
.row:after,.row:before{
    content:"";
    display:table;
    clear:both
}
.col{
    float:left;
    min-height:1px;
    width:25%;
    padding:12px
}
@media only screen and (max-width:820px){
    .col{
        width:50%
    }
}
@media only screen and (max-width:480px){
    .col{
        width:100%
    }
}
#footer-body{
    background-color:#b0b0b0;
    padding:45px 5%
}
#footer-body a{
    color:#444;
    font-style:normal
}
#footer-body ul{
    list-style-type:none
}
#footer-column-1,#footer-column-2,#footer-column-3,#footer-column-4{
    float:left
}
.footer-column-header{
    margin-bottom:5px;
    font-weight:700
}
#footer-column-1 .wismap{
    width:40%
}
#footer-column-1 p{
    padding-left:40%;
    margin-left:10px
}
#footer-address{
    width:60%;
    float:right;
    padding-left:10px
}
#footer-address ul{
    line-height:1.75em;
    margin:0
}
#column-2-header{
    padding-left:54px
}
.quick-links{
    padding-bottom:10px
}
.quick-links::after{
    content:"";
    display:table;
    clear:both
}
#footer-column-2,#footer-column-3{
    padding-left:60px
}
#mobile-emergency i{
    margin-right:15px;
    float:left;
    width:40px;
    text-align:center
}
#mobile-emergency i:hover{
    color:#fec424
}
#mobile-emergency .fa-mobile{
    font-size:60px
}
#mobile-emergency .fa-exclamation-triangle{
    font-size:40px;
    padding-top:10px
}
#mobile-emergency p{
    height:65px;
    margin-bottom:15px
}
#mobile-emergency p a{
    vertical-align:sub;
    line-height:1
}
#sitemap ul{
    margin:0;
    line-height:1.75
}
#sitemap ul li:hover{
    text-decoration:underline
}
#footer-column-4 iframe {
    margin-right: 10px;
}
#footer-column-4 .image-wrapper{
    display:inline-block;
    padding-bottom:10px
}
#footer-column-4 .image-wrapper .accredited-img{
    padding-right:10px
}
#footer-column-4 #footer-uw-logo{
    padding-right:0
}
.image-wrapper {
    vertical-align: top;
}
#footer-bottom{
    overflow:hidden;
    background-color:#444;
    padding:0;
    width:100%
}
#footer-bottom #footer-copy{
    float:left;
    color:#b0b0b0;
    font-size:15px;
    padding-top:19px;
    padding-left:10px
}
#footer-bottom #footer-social{
    float:right
}
#footer-bottom #footer-social a{
    display:table-cell;
    text-align:center;
    color:#b0b0b0;
    padding:15px
}
#footer-bottom #footer-social .fa-facebook:hover{
    color:#3b5998
}
#footer-bottom #footer-social .fa-twitter:hover{
    color:#1da1f2
}
#footer-bottom #footer-social .fa-instagram:hover{
    color:#f56040
}
#footer-bottom #footer-social .fa-youtube-play:hover{
    color:#cd201f
}
#footer-bottom #footer-social .fa-linkedin:hover{
    color:#0077b5
}
#footer-bottom #footer-social .fa-pinterest-p:hover{
    color:#bd081c
}
#footer-bottom #footer-social .fa-flickr:hover{
    color:#8032b0
}
@media only screen and (max-width:1025px){
    #footer-column-1 p{
        padding-left:20px;
        margin-left:0
    }
    #footer-column-1 .wismap{
        display:none
    }
    #footer-column-1 #footer-address{
        padding-left:20px;
        width:100%
    }
    #footer-column-2{
        padding-left:10px;
        padding-right:30px
    }
    #footer-column-3{
        padding-left:20px
    }
}
@media only screen and (max-width:640px){
    #footer-column-1,#footer-column-2,#footer-column-3,#footer-column-4{
        text-align:left;
        padding:0 0 15px
    }
    #footer-column-1 #footer-address,#footer-column-1 p,#footer-column-2 #footer-address,#footer-column-2 p,#footer-column-3 #footer-address,#footer-column-3 p,#footer-column-4 #footer-address,#footer-column-4 p{
        padding-left:0
    }
    #footer-column-1 ul,#footer-column-2 ul,#footer-column-3 ul,#footer-column-4 ul{
        margin:0
    }
    #footer-body{
        padding-bottom:0
    }
    #footer-column-1{
        height:160px
    }
    #footer-column-2 p{
        width:205px
    }
    #footer-column-4 img{
        padding:35px 14% 35px 0
    }
    #footer-column-4 #footer-accredited{
        padding-left:0
    }
    #footer-bottom #footer-social a{
        padding:15px 10px
    }
}
@media only screen and (max-width:540px){
    #footer-bottom #footer-social{
        float:left
    }
}
.widget_ninja_forms_widget{
    width:100%!important
}
.widget_html_javascript_adder{
    margin-right:0;
    width:100%!important
}
.et_pb_promo{
    margin-bottom:16px;
    padding:16px!important
}
.et_pb_promo a{
    color:#fff
}
.et_pb_promo_description{
    padding-bottom:0!important
}
.et_pb_promo_description p{
    padding-bottom:0
}

/* 404 Page */
.angry-clash{
    float: right;
    height: 250px;
    display: block;
    margin-left: 15px;
}
#right-area {
    margin-left: 15px;
}