/*! 
Theme Name: UW Oshkosh Divi
Theme URI: https://github.com/uwoshkosh/uw-oshkosh-divi
Description: UW-Oshkosh's Divi Child Theme
Author: Joseph Kerkhof
Author URI: http://twitter.com/musicaljoeker
Template: Divi
Version: 1.5.1
*/

// Font family
$font-family: "Open Sans", Arial, sans-serif !important;

// UWO colors
$titan-yellow: #fec424;
$titan-grey: #444;

// Utility colors
$link: #0077ad;

// Broadcast banner colors
$broadcast-info: #0066cc;
$broadcast-info-border: #4ca6ff;
$broadcast-warning: #ff9900;
$broadcast-warning-border: #ffb84c;
$broadcast-emergency: #d91e18;
$broadcast-emergency-border: #ff6d69;

// Social colors
$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #f56040;
$youtube: #cd201f;
$linkedin: #0077b5;
$pinterest: #bd081c;
$flickr: #8032b0;

body {
  min-width: 320px;
  font-family: $font-family;
  color: $titan-grey;
}

a {
  color: $link;
}

.desaturate {
  backface-visibility: hidden;
  filter: grayscale(100%);
  transition: all 0.6s ease;
}

.desaturate:hover {
  filter: grayscale(0);
}

#page-container {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

#top-header,
#main-header {
  position: static !important;
}

header {
  z-index: 999;
}

header #logo {
  max-width: none !important;
}

#main-header,
#main-header .et_mobile_menu,
#main-header .nav li ul,
.et-search-form {
  background-color: $titan-yellow;
}

#et-secondary-nav li ul,
#top-header {
  background-color: $titan-grey;
}

.et_pb_fullwidth_menu_0.et_pb_fullwidth_menu .nav li ul {
  background-color: $link !important;
}

@media only screen and (min-width: 981px) {
  .et-fixed-header#top-header,
  .et-fixed-header#top-header #et-secondary-nav li ul {
    background-color: $titan-grey;
  }
}

.site-title {
  display: inline-block;
  padding-bottom: 22px;
  vertical-align: bottom;
}

.site-title h1 {
  font-family: $font-family;
  font-size: 33px;
  font-weight: 600;
}

.image-title-wrapper a {
  display: inline-block;
}

#et-top-navigation {
  padding-left: 0 !important;
  padding-top: 0 !important;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

#et-top-navigation .mobile_nav .mobile_menu_bar {
  position: absolute;
  right: 0;
}

#mobile_menu {
  top: 100px;
}

@media only screen and (max-width: 375px) {
  header a img {
    max-width: 50% !important;
  }
}

@media only screen and (min-width: 980px) {
  header .container {
    min-width: 793px;
  }
}

@media only screen and (max-width: 540px) {
  .site-title h1 {
    font-size: 24px;
  }

  header .container {
    white-space: normal;
  }
}

#top-header {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.emergency-banner-wrapper.disabled {
  display: none;
}

// Begin single notification styles
.emergency + .disabled + .header-wrapper {
  margin-top: 75px;
}

.info + .disabled + .header-wrapper,
.warning + .disabled + .header-wrapper {
  margin-top: 45px;
}

// End single notification styles

// Begin double emergency styles
.emergency + .emergency-banner-wrapper {
  margin-top: 75px;
}

.warning + .emergency-banner-wrapper,
.info + .emergency-banner-wrapper {
  margin-top: 45px;
}

.emergency + .emergency + .header-wrapper {
  margin-top: 150px;
}

// emergency + regular (warning or info)
.emergency + .info + .header-wrapper,
.info + .emergency + .header-wrapper,
.emergency + .warning + .header-wrapper,
.warning + .emergency + .header-wrapper {
  margin-top: 120px;
}

// regular + regular (warning or info)
.info + .warning + .header-wrapper,
.warning + .info + .header-wrapper,
.info + .info + .header-wrapper,
.warning + .warning + .header-wrapper {
  margin-top: 90px;
}

// End double emergency styles

.emergency-banner-wrapper {
  display: flex;
  background: $broadcast-info;
  color: white;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.emergency-banner-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.broadcast-link {
  color: white;
}

.broadcast-link:hover .broadcast-title,
.broadcast-link:hover .broadcast-description {
  text-decoration: underline;
}

.broadcast-title {
  font-weight: 700;
}

.emergency-banner-wrapper i {
  margin-right: 5px;
}

.emergency-banner-wrapper.info {
  background: $broadcast-info;
  border: 3px solid $broadcast-info-border;
}

.emergency-banner-wrapper.warning {
  background: $broadcast-warning;
  border: 3px solid $broadcast-warning-border;
}

.emergency-banner-wrapper.warning a {
  color: black;
}

.emergency-banner-wrapper.emergency {
  background: $broadcast-emergency;
  border: 3px solid $broadcast-emergency-border;
  height: 75px;
}

@media screen and (max-width: 782px) {
  .emergency-banner-wrapper {
    height: 46px;
  }
}

/* Bumping the banner down in case you are logged in. */

.admin-bar .emergency-banner-wrapper {
  top: 32px;
}

.admin-bar .info + .emergency-banner-wrapper,
.admin-bar .warning + .emergency-banner-wrapper {
  margin-top: 45px;
}

.admin-bar .emergency + .emergency-banner-wrapper {
  margin-top: 75px;
}

@media screen and (max-width: 782px) {
  .admin-bar .emergency-banner-wrapper {
    top: 46px;
    position: absolute;
  }
}

#top-menu-nav {
  float: right !important;
  padding-right: 72px;
  padding-top: 15px;
}

#et_top_search {
  margin-top: 16px;
  position: absolute;
  right: 30px;
}

#et-secondary-menu {
  float: none;
  text-align: center;
}

#et-secondary-nav li {
  text-align: left;
}

#et-secondary-nav li a {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.et_nav_text_color_light,
.et_nav_text_color_light #et-info a,
.et_nav_text_color_light #et-secondary-nav a,
.et_nav_text_color_light .et-social-icon a {
  color: #fff;
}

#main-header {
  background-image: url(assets/images/main-header-background.png);
  background-repeat: repeat-x;
  padding: 5px 0 0;
}

#logo {
  margin-bottom: 16px;
  margin-left: -18px;
  max-height: 100px;
}

#et_mobile_nav_menu {
  margin-top: 16px;
}

.menu-item a {
  height: 33px;
}

.sub-menu {
  top: 33px;
}

.mobile-menu-text {
  line-height: normal !important;
}

#top-menu li {
  font-weight: 600;
  padding-right: 8px;
}

#top-menu a {
  color: $titan-grey !important;
}

.et_pb_fullwidth_section .et_pb_row {
  z-index: auto !important;
}

.display-search {
  opacity: 1 !important;
}

form.gsc-search-box {
  background-color: $titan-yellow !important;
  border-top-color: #2ea3f2;
  border-top-style: solid;
  border-top-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.0980392) 0 2px 5px 0;
  display: none;
  float: right;
  height: 73px;
  margin-top: 20px !important;
  max-width: none !important;
  padding: 20px;
  top: 46px;
  width: 320px !important;
}

form.gsc-search-box input {
  background-color: #fff;
  height: 33px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 20px;
  right: auto;
  top: 20px;
  width: 280px;
}

.gsc-search-button {
  display: none;
}

.gsc-control-wrapper-cse form.gsc-search-box.gsc-search-box-tools {
  display: none !important;
}

.gsib_a {
  padding: 0 !important;
}

.mobile_menu_bar::before {
  color: $titan-grey;
}

.et_mobile_nav_menu .mobile_nav .mobile_menu_bar::before {
  color: #fff;
}

@media only screen and (max-width: 475px) {
  form.gsc-search-box {
    position: absolute;
    right: -52px;
    width: 240px !important;
  }

  form.gsc-search-box input {
    width: 200px;
  }
}

@media only screen and (max-width: 980px) {
  form.gsc-search-box {
    margin-top: 40px;
  }
}

.et_pb_fullwidth_menu .fullwidth-menu-nav > ul {
  line-height: 48px;
  padding: 0 !important;
}

.fullwidth-menu li {
  font-size: 16px;
  font-weight: 600;
}

.fullwidth-menu li > a {
  padding-bottom: 0;
}

.et_pb_section {
  padding: 0 !important;
}

.et_pb_widget_area {
  border-right: 0;
  padding: 0;
}

.promo-multicolor .widget_text {
  margin: 0 !important;
}

#main-footer {
  background-color: #fff !important;
}

#uwo-footer {
  text-align: left;
  background-color: #b0b0b0;
  clear: both;
  color: $titan-grey;
  font-size: 15px;
}

#footer-top {
  background-color: $titan-yellow;
  color: $titan-grey;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding: 12px 0;
}

#footer-top span {
  padding: 0 10px;
}

.grid-container {
  width: 100%;
}

.grid-container * {
  box-sizing: border-box;
}

.row:after,
.row:before {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  min-height: 1px;
  width: 25%;
  padding: 12px;
}

@media only screen and (max-width: 820px) {
  .col {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .col {
    width: 100%;
  }
}

#footer-body {
  background-color: #b0b0b0;
  padding: 45px 5%;
}

#footer-body a {
  color: $titan-grey;
  font-style: normal;
}

#footer-body ul {
  list-style-type: none;
}

#footer-column-1,
#footer-column-2,
#footer-column-3,
#footer-column-4 {
  float: left;
}

.footer-column-header {
  margin-bottom: 5px;
  font-weight: 700;
}

#footer-column-1 .wismap {
  width: 40%;
}

#footer-column-1 p {
  padding-left: 40%;
  margin-left: 10px;
}

#footer-address {
  width: 60%;
  float: right;
  padding-left: 10px;
}

#footer-address ul {
  line-height: 1.75em;
  margin: 0;
}

#column-2-header {
  padding-left: 54px;
}

.quick-links {
  padding-bottom: 10px;
}

.quick-links::after {
  content: "";
  display: table;
  clear: both;
}

#footer-column-2,
#footer-column-3 {
  padding-left: 60px;
}

#mobile-emergency i {
  margin-right: 15px;
  float: left;
  width: 40px;
  text-align: center;
}

#mobile-emergency i:hover {
  color: $titan-yellow;
}

#mobile-emergency .fa-mobile {
  font-size: 60px;
}

#mobile-emergency .fa-exclamation-triangle {
  font-size: 40px;
  padding-top: 10px;
}

#mobile-emergency p {
  height: 65px;
  margin-bottom: 15px;
}

#mobile-emergency p a {
  vertical-align: sub;
  line-height: 1;
}

#sitemap ul {
  margin: 0;
  line-height: 1.75;
}

#sitemap ul li:hover {
  text-decoration: underline;
}

#footer-column-4 iframe {
  margin-right: 10px;
}

#footer-column-4 .image-wrapper {
  display: inline-block;
  padding-bottom: 10px;
}

#footer-column-4 .image-wrapper .accredited-img {
  padding-right: 10px;
}

#footer-column-4 #footer-uw-logo {
  padding-right: 0;
}

.image-wrapper {
  vertical-align: top;
}

#footer-bottom {
  overflow: hidden;
  background-color: $titan-grey;
  padding: 0;
  width: 100%;
}

#footer-bottom #footer-copy {
  float: left;
  color: #b0b0b0;
  font-size: 15px;
  padding-top: 19px;
  padding-left: 10px;
}

#footer-bottom #footer-social {
  float: right;
}

#footer-bottom #footer-social a {
  display: table-cell;
  text-align: center;
  color: #b0b0b0;
  padding: 15px;
}

#footer-bottom #footer-social .fa-facebook:hover {
  color: $facebook;
}

#footer-bottom #footer-social .fa-twitter:hover {
  color: $twitter;
}

#footer-bottom #footer-social .fa-instagram:hover {
  color: $instagram;
}

#footer-bottom #footer-social .fa-youtube-play:hover {
  color: $youtube;
}

#footer-bottom #footer-social .fa-linkedin:hover {
  color: $linkedin;
}

#footer-bottom #footer-social .fa-pinterest-p:hover {
  color: $pinterest;
}

#footer-bottom #footer-social .fa-flickr:hover {
  color: $flickr;
}

@media only screen and (max-width: 1025px) {
  #footer-column-1 p {
    padding-left: 20px;
    margin-left: 0;
  }

  #footer-column-1 .wismap {
    display: none;
  }

  #footer-column-1 #footer-address {
    padding-left: 20px;
    width: 100%;
  }

  #footer-column-2 {
    padding-left: 10px;
    padding-right: 30px;
  }

  #footer-column-3 {
    padding-left: 20px;
  }
}

@media only screen and (max-width: 640px) {
  #footer-column-1,
  #footer-column-2,
  #footer-column-3,
  #footer-column-4 {
    text-align: left;
    padding: 0 0 15px;
  }

  #footer-column-1 #footer-address,
  #footer-column-1 p,
  #footer-column-2 #footer-address,
  #footer-column-2 p,
  #footer-column-3 #footer-address,
  #footer-column-3 p,
  #footer-column-4 #footer-address,
  #footer-column-4 p {
    padding-left: 0;
  }

  #footer-column-1 ul,
  #footer-column-2 ul,
  #footer-column-3 ul,
  #footer-column-4 ul {
    margin: 0;
  }

  #footer-body {
    padding-bottom: 0;
  }

  #footer-column-1 {
    height: 160px;
  }

  #footer-column-2 p {
    width: 205px;
  }

  #footer-column-4 img {
    padding: 35px 14% 35px 0;
  }

  #footer-column-4 #footer-accredited {
    padding-left: 0;
  }

  #footer-bottom #footer-social a {
    padding: 15px 10px;
  }
}

@media only screen and (max-width: 540px) {
  #footer-bottom #footer-social {
    float: left;
  }
}

.widget_ninja_forms_widget {
  width: 100% !important;
}

.widget_html_javascript_adder {
  margin-right: 0;
  width: 100% !important;
}

.et_pb_promo {
  margin-bottom: 16px;
  padding: 16px !important;
}

.et_pb_promo a {
  color: #fff;
}

.et_pb_promo_description {
  padding-bottom: 0 !important;
}

.et_pb_promo_description p {
  padding-bottom: 0;
}

/* 404 Page */

.angry-clash {
  float: right;
  height: 250px;
  display: block;
  margin-left: 15px;
}

#right-area {
  margin-left: 15px;
}

/* Begin fix for Divi menu on posts */

#left-area ul li ul {
  padding: 20px 0 20px 0 !important;
}

#left-area nav > ul {
  line-height: 48px;
}

/* End fix for Divi menu on posts */

/* Start accessibility changes */

/* wp search color */

.widget_search input#s,
.widget_search input#searchsubmit {
  color: #595959;
}

/* footer headings & text */

p.footer-column-header,
p#column-2-header.footer-column-header,
p.footer-column-header,
#footer-address a,
#footer-body a {
  color: #242424;
}

/* copyright text */

#footer-copy > span {
  color: #dbdbdb;
}

/* comments/reply buttons */

a.comment-reply-link.et_pb_button,
input#submit.submit.et_pb_button {
  color: #0d5d92;
}

/* comment form fields text color*/

#commentform input[type="email"],
#commentform input[type="text"],
#commentform input[type="url"],
#commentform textarea {
  color: #4f4f4f;
}

/* End accessibility changes */

/* Begin MENU modifications for mobile menus */

.et_pb_fullwidth_menu .mobile_menu_bar {
  text-align: left;
}

.et_pb_fullwidth_menu .mobile_menu_bar::after {
  content: "MENU";
  position: relative;
  font-size: 20px;
  top: 18px;
  left: 7px;
}

.et_pb_fullwidth_menu.et_pb_bg_layout_light .mobile_menu_bar::before,
.et_pb_fullwidth_menu.et_pb_bg_layout_light .mobile_menu_bar::after {
  color: $titan-grey !important;
}

.et_pb_fullwidth_menu.et_pb_bg_layout_dark .mobile_menu_bar::before,
.et_pb_fullwidth_menu.et_pb_bg_layout_dark .mobile_menu_bar::after {
  color: #fff !important;
}

/* End MENU modifications for mobile menus */
